.cart__item-info img{
    width:35px;
    height: 35px;
    object-fit: cover;
}
.cart__product-title{
    font-size: 0.8rem;
    font-weight: 600;
}

.cart__product-price{
    font-size: .8rem;
    font-weight: 500;
}
.cart__product-price span{
    font-size:.9rem;
    font-weight: 600;
    color:#df2020;
}
.inc__dec-btn{
    background: #fde4e4;
    padding: 2px 5px;
    border-radius:10px;

}
.inc__btn,.dec__btn{
    cursor: pointer;
}
.delete__btn{
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
.cart__item{
    padding-bottom: 10px;
    border: 2px solid rgb(174, 21, 21);
  

}

