.contact-container{
    max-width:90vw;
    margin:0 auto;
    margin-top: 5px;
    display: grid;
    grid-row-gap:1rem;
    
}
.contact-info{
    display: grid;
    justify-content: center;
}
.contact-item{
    margin:1rem 0;
    padding:0.5rem;
    margin-right: 1rem;
}
.contact-item_icon{
    font-size: 3rem;
    color: #df2020;
}
.contact-item_title{
    text-transform: uppercase;
    margin:0.5rem 0;
    letter-spacing: 0.25rem;
    color:#df2020;
    font-size: 1.1rem;
}
.contact-item_text{
    font-size: 1rem;
    text-transform: uppercase;
    color: #777;
}
.mail{
    margin-left: 9px !important;
}
@media screen and (min-width:768px){
    .contact-info{
      grid-template-columns: repeat(3, 1fr);
      order:-1;
    }
  }
  @media screen and (min-width:992px){
    .contact-info{
      grid-template-columns: 1fr;
      order:0;
      margin-left: 15px;
    }
    .contact-container{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 2rem
    }
    .contact-map{
      align-self: center;
    }
  }